.health-bar>div {
    width: 14vh;
    height: 56vh;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    background-color: #000000;
    border-radius: 15px;
}

#hero-health-bar-progress,
#monster-health-bar-progress {
    height: 100%;
    width: 100%;
    transition: width 0.3s ease-in-out;
    border-radius: 15px;
    border: 1px solid #000000;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

#pvHero {
    position: absolute;
    left: 0;
    margin-left: 15px;
}

#pvMonster {
    position: absolute;
    right: 0;
    margin-right: 15px;
}

.health-bar-progress {
    background-color: rgb(0, 255, 0);
}

.health-bar-progress-yellow {
    background-color: yellow;
}

.health-bar-progress-orange {
    background-color: orange;
}

.health-bar-progress-red {
    background-color: red;
}

.health-bar-progress-black {
    background-color: black;
}