.health-bar > div {
    width: 14vh;
    height: 56vh;
    border: 1px solid rgb(0, 195, 255);
    background-color: #000000;
    border-radius: 15px;
}

#hero-health-bar-progress, #monster-health-bar-progress {
    height: 100%;
    width: 100%;
    transition: width 0.3s ease-in-out;
    border-radius: 15px;
}

#pvHero {
    position: fixed;
    left: 0;
}

#pvMonster {
    position: fixed;
    right: 0;
}

.health-bar-progress {
    background-color: rgb(1, 218, 1);
}

.health-bar-progress-yellow {
    background-color: yellow;
}

.health-bar-progress-orange {
    background-color: orange;
}

.health-bar-progress-red {
    background-color: red;
}

.health-bar-progress-black {
    background-color: black;
}