* {
    font-family: Minecraftia;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #37c51e;
}

#title {
    background-color: #6247aa;
    color: white;
    font-size: 3vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textTitle {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(255, 124, 0, 1) 100%);
    width: 90vh;
    height: 6vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#step {
    color: rgb(4, 243, 243);
    background-color: #01f50a3d;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 3px solid #01f5096e;
    margin: auto;
    width: 25vh;
    font-size: 3vh;
}

#background {
    background-color: #9163cb;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#entities {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25vh;
}

#action {
    background-color: #9163cb;
    height: 12.5vh;
}

#bag {
    display: flex;
    justify-content: space-between;
}

#equipement {
    display: flex;
    align-items: center;
    
}

#potions {
    display: flex;
    align-items: center;
}

#equipement label,
#potions label {
    justify-content: center;
}

#hero,
.monsters>img {
    height: 50vh;
}

#potionsValue img, #equipementValue img {
    margin-top: 15px;
    height: 50px;
}