* {
    font-family: Minecraftia;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    background: radial-gradient(circle, rgba(0, 85, 254, 1) 0%, rgba(48, 73, 130, 1) 73%);
    text-align: center;
    max-height: 100%;
}

.container {
    border-radius: 50px;
}

#background {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25vh;
    height: 100vh;
    width: 150vh;
    border-radius: 50px;
}

.health-bar > div {
    width: 14vh;
    height: 56vh;
    border: 1px solid rgb(0, 195, 255);
    background-color: #000000;
    border-radius: 15px;
}

#hero-health-bar-progress, #monster-health-bar-progress {
    height: 100%;
    width: 100%;
    transition: width 0.3s ease-in-out;
    border-radius: 15px;
}

#pvHero {
    position: sticky;
    bottom: 20px;
    left: 20px;
    margin-left: -500px;
}

#pvMonster {
    position: sticky;
    bottom: 20px;
    right: 20px;
    margin-right: -500px;
}

.health-bar-progress {
    background-color: rgb(1, 218, 1);
}

.health-bar-progress-yellow {
    background-color: yellow;
}

.health-bar-progress-orange {
    background-color: orange;
}

.health-bar-progress-red {
    background-color: red;
}

.health-bar-progress-black {
    background-color: black;
}

#background>img,
#background>div>img {
    width: 40vh;
}

#GUI {
    margin-top: 5vh;
    background-color: #cf41eb;
    border-radius: 50px;
    text-align: center;
}

#action {
    margin-top: 10px;
}

#bag>div>img {
    width: 10vh;
}

#images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

#images img {
    max-width: 100%;
    height: auto;
}

button:hover {
    cursor: pointer;
}

#title {
    font-size: 1.5vh;
    color: white;
    background-color: blue;
    margin-left: 25%;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0.2vh 0.1vh #7e2690,
        -0.1vh 0.3vh 0.1vh #601b6e,
        -0.2vh 0.5vh 0.3vh #40104a;
}

#bag {
    position: static;
    bottom: 0;
    left: 50%;
}

#lose {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(255, 0, 0, 0.5);
    width: 80%;
    height: 80%;
}

#lose>button {
    display: block;
    margin: 20px auto;
}